@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.nav.mode {
  background-color: rgb(16, 15, 15);
}
.nav.mode .left-div {
  background-color: rgb(16, 15, 15);
}
.nav.mode .left-div ul li {
  color: #fcf6f5;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fcf6f5;
  border-bottom: 1px solid #b52d3d;
  position: relative;
  z-index: 9999;
  opacity: 0;
  position: fixed;
  width: 100%;
  animation: fadeInUp 0.7s ease-in-out 0.9s forwards;
}
.nav .image {
  width: 70px;
  height: 70px;
  margin-top: 12px;
}
.nav .image img {
  width: 62px;
  height: 55px;
  -o-object-fit: contain;
     object-fit: contain;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.nav .btn1 {
  display: none;
}
.nav .modediv {
  display: flex;
}
.nav .modediv .btn {
  margin-top: 14px;
  margin-left: 15px;
}
.nav .modediv .btn button {
  padding: 7px 14px;
  padding-bottom: 9px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: #a80417;
  border-radius: 7px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 10px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}
.nav .modediv .btn button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.nav .modediv .btn button:active {
  box-shadow: none;
  transform: translateY(0);
}
.nav .left-div {
  min-width: 50%;
}
.nav .left-div .close span {
  display: none;
}
.nav .left-div ul {
  display: flex;
  justify-content: space-evenly;
}
.nav .left-div ul li {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  margin-top: 5px;
  cursor: pointer;
}
.nav .left-div ul li:hover {
  color: #a80417;
}
.nav .left-div ul li::after {
  content: "";
  position: absolute;
  background-color: #a80417;
  height: 3px;
  width: 0;
  left: -12px;
  bottom: -8px;
  transition: width 0.3s ease;
}
.nav .left-div ul li:hover::after {
  width: 140%;
  color: #a80417;
}
.nav .left-div ul li.active::after {
  width: 140%;
}
.nav .left-div ul li.active {
  color: #a80417;
}
@media (max-width: 900px) {
  .nav .left-div ul li {
    font-size: 17px;
  }
}
@media (max-width: 690px) {
  .nav .left-div ul li {
    font-size: 14px;
  }
}
@media (max-width: 690px) and (max-width: 580px) {
  .nav .left-div ul li {
    font-size: 12px;
  }
  .nav .left-div ul li::after {
    content: "";
    position: absolute;
    background-color: #a80417;
    height: 2px;
    width: 0;
    left: 0px;
    bottom: -8px;
    transition: width 0.3s ease;
  }
  .nav .left-div ul li::after:hover::after {
    width: 70%;
    color: #a80417;
  }
  .nav .left-div ul li::after.active::after {
    width: 100%;
  }
}
.nav .modediv span {
  display: block;
  font-size: 40px;
  color: #a80417;
  margin-top: 14px;
}
.nav small {
  display: none;
}

@media (max-width: 500px) {
  .nav.mode {
    background-color: rgb(16, 15, 15);
  }
  .nav.mode .left-div {
    background-color: rgb(16, 15, 15);
  }
  .nav.mode .left-div ul li {
    color: #fcf6f5;
  }
  .nav {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    position: relative;
    position: fixed;
    background-color: #fcf6f5;
    height: 70px;
  }
  .nav .image {
    width: 50px;
    height: 65px;
  }
  .nav .image img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .nav .left-div {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #fcf6f5;
    overflow: hidden;
    transform: translateY(-100%);
    transition: transform ease 0.5s;
  }
  .nav .left-div .delete {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .nav .left-div .delete button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 10px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    padding: 10px 20px;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }
  .nav .left-div .delete button:disabled {
    pointer-events: none;
  }
  .nav .left-div .delete button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  .nav .left-div .delete button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .nav .left-div ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .nav .left-div ul li {
    text-align: center;
    width: 40%;
    font-size: 25px;
    margin: 20px 0;
  }
  .nav .left-div ul li:hover {
    color: #a80417;
  }
  .nav .left-div ul li::after {
    content: "";
    position: absolute;
    background-color: #a80417;
    height: 3px;
    width: 0;
    left: -35px;
    bottom: -8px;
    transition: width 0.3s ease;
  }
  .nav .left-div.show {
    transform: translateY(0%);
    overflow: hidden;
  }
  .nav .left-div.show .close {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 20px;
  }
  .nav .left-div.show .close span {
    display: block;
    font-size: 57px;
    color: #a80417;
    overflow: hidden;
  }
  .nav .left-div.show .btn1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .nav .left-div.show .btn1 button {
    display: none;
    padding: 7px 14px;
    padding-bottom: 9px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    background-color: #a80417;
    border-radius: 7px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 10px;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    will-change: transform;
  }
  .nav .left-div.show .btn1 button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  .nav .left-div.show .btn1 button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .nav .dark {
    display: flex;
    flex-direction: row;
  }
  .nav .dark .btn button {
    display: none;
  }
  .nav .dark .modediv span {
    display: inline-block;
    font-size: 45px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 8px;
    color: #a80417;
    overflow: hidden;
  }
  .nav .dark small {
    display: inline-block;
    font-size: 40px;
    margin-top: 14px;
    margin-left: 10px;
    color: #a80417;
    overflow: hidden;
  }
  .nav .dark .usericon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav .dark .usericon .innericon {
    position: relative;
  }
  .nav .dark .usericon small {
    max-width: 120px;
    margin-right: 10px;
    color: #a80417;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 700;
    position: absolute;
    bottom: 0;
  }
}/*# sourceMappingURL=header.css.map */