.section2.mode {
  background-color: rgb(16, 15, 15);
}
.section2.mode .filter-div {
  background-color: rgb(16, 15, 15);
  box-shadow: rgba(46, 45, 45, 0.25) 0px 54px 55px, rgba(50, 49, 49, 0.12) 0px -12px 30px, rgba(208, 202, 202, 0.12) 0px 4px 6px, rgba(23, 23, 23, 0.17) 0px 12px 13px, rgba(189, 179, 179, 0.09) 0px -3px 5px;
}
.section2.mode .filter-div .search-box input {
  background-color: #d5d2d5;
}
.section2.mode .filter-div h1 {
  color: #Fcf6f5;
}
.section2.mode .filter-div .dropdown {
  background-color: rgb(16, 15, 15);
}
.section2.mode .filter-div .dropdown h2 {
  color: #Fcf6f5;
}
.section2.mode .filter-div .dropdown p {
  color: #Fcf6f5;
}
.section2.mode .filter-div .dropdown .item .dropdown-menu .items {
  background-color: rgb(16, 15, 15);
}

.section2 {
  width: 100%;
  background-color: #Fcf6f5;
}
.section2 .filter-div {
  width: 100%;
  background-color: #Fcf6f5;
  border-radius: 15px;
  padding: 18px 10px;
}
.section2 .filter-div .noresult {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}
.section2 .filter-div .noresult span {
  font-size: 29px;
  color: #990011;
  font-family: sans-serif;
}
.section2 .filter-div .noresult span small {
  font-size: 30px;
}
.section2 .filter-div .search-box {
  width: 100%;
  height: 50px;
  border: 1px solid #990011;
  border-radius: 6px;
  position: relative;
}
.section2 .filter-div .search-box span {
  left: 13px;
  font-size: 20px;
  position: absolute;
  top: 15px;
}
.section2 .filter-div .search-box input {
  width: 100%;
  height: 100%;
  padding: 5px 20px 0px 45px;
  border-radius: 6px;
  border: none;
  outline: none;
}
.section2 .filter-div .h2 {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.section2 .filter-div .h2 h1 {
  font-size: 14px;
  font-family: sans-serif;
  cursor: pointer;
}
.section2 .filter-div .dropdown {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  display: flex;
}
.section2 .filter-div .dropdown .item {
  width: 49%;
  margin: 1%;
  height: 40px;
  border-radius: 10px;
  z-index: 999;
}
.section2 .filter-div .dropdown .item .item-div {
  display: flex;
  width: 100%;
  border: 1px solid #990011;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}
.section2 .filter-div .dropdown .item .item-div h2 {
  margin-top: 0px;
  font-size: 15px;
  font-family: sans-serif;
}
.section2 .filter-div .dropdown .item .item-div p {
  margin-top: 5px;
  font-size: 25px;
}
.section2 .filter-div .dropdown .item .dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.section2 .filter-div .dropdown .item .dropdown-menu .items {
  background-color: #Fcf6f5;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 17px;
  font-family: sans-serif;
  border-bottom: 1px solid #990011;
  min-height: 45px;
  align-items: center;
  border-radius: 10px;
}/*# sourceMappingURL=filter.css.map */