.section2.mode {
  background-color: rgb(16, 15, 15);
}
.section2.mode .filter-div {
  background-color: rgb(16, 15, 15);
  box-shadow: rgba(46, 45, 45, 0.25) 0px 54px 55px, rgba(50, 49, 49, 0.12) 0px -12px 30px, rgba(208, 202, 202, 0.12) 0px 4px 6px, rgba(23, 23, 23, 0.17) 0px 12px 13px, rgba(189, 179, 179, 0.09) 0px -3px 5px;
}
.section2.mode .filter-div h1 {
  color: #Fcf6f5;
}
.section2.mode .filter-div .dropdown {
  background-color: rgb(16, 15, 15);
}
.section2.mode .filter-div .dropdown h2 {
  color: #Fcf6f5;
}
.section2.mode .filter-div .dropdown p {
  color: #Fcf6f5;
}
.section2.mode .filter-div .dropdown .item .dropdown-menu .items {
  background-color: rgb(16, 15, 15);
}

.section2 {
  width: 100%;
  min-height: 420px;
  background-color: #Fcf6f5;
  padding: 60px 15px;
}
.section2 .filter-div {
  width: 100%;
  min-height: 300px;
  background-color: #Fcf6f5;
  border: 2px solid #990011;
  border-radius: 15px;
  padding: 18px 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.section2 .filter-div .noresult {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2 .filter-div .noresult img {
  width: 250px;
}
.section2 .filter-div .search-box {
  width: 100%;
  height: 50px;
  border: 1px solid #990011;
  border-radius: 15px;
  position: relative;
}
.section2 .filter-div .search-box span {
  left: 13px;
  font-size: 20px;
  position: absolute;
  top: 15px;
}
.section2 .filter-div .search-box input {
  width: 100%;
  height: 100%;
  padding: 5px 20px 0px 45px;
  border-radius: 15px;
  border: none;
  outline: none;
}
.section2 .filter-div .h1 {
  padding: 29px 10px;
  display: flex;
  justify-content: space-between;
}
.section2 .filter-div .h1 h1 {
  font-size: 17px;
  font-family: sans-serif;
  cursor: pointer;
}
.section2 .filter-div .dropdown {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
}
.section2 .filter-div .dropdown .item {
  width: 49%;
  margin: 1%;
  min-height: 50px;
  border: 1px solid #990011;
  border-radius: 10px;
}
.section2 .filter-div .dropdown .item .item-div {
  display: flex;
  width: 100%;
  min-height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}
.section2 .filter-div .dropdown .item .item-div h2 {
  font-size: 15px;
  font-family: sans-serif;
}
.section2 .filter-div .dropdown .item .item-div p {
  margin-top: 5px;
  font-size: 25px;
}
.section2 .filter-div .dropdown .item .dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.section2 .filter-div .dropdown .item .dropdown-menu .items {
  background-color: #Fcf6f5;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 17px;
  font-family: sans-serif;
  border-bottom: 1px solid #990011;
  min-height: 45px;
  align-items: center;
  border-radius: 10px;
}/*# sourceMappingURL=filter.css.map */