// CartPage.scss
$white-color : #Fcf6f5;
$red : #990011;
$black: rgb(16, 15, 15);

.cart-page-container.mode{
  .cart-summary{
    background-color: $black;
    color: white;
    box-shadow: rgb(28, 27, 27) 0px 0px 2px 2px;
  }
  background-color: $black;
  .cart-items{
    .product-item{
      color: white;
      background-color: $black;
      box-shadow: rgb(50, 49, 49) 0px 0px 2px 2px;
    }
    h2{
      color: white;
    }
  }
}


.cart-page-container {
  min-height: 100vh;
   
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $white-color;
   
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .cart-items {
      margin-bottom: 20px;
     
      display: flex;
      flex-direction: column;
      gap: 20px;
      
      h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
        border-bottom: 2px solid $red;
        margin: 20px ;
        margin-top: 100px;
      }
  
      .product-item {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-bottom: 15px;
      width: 95%;
        margin: auto;
        padding: 20px;
        background-color: $white-color;
       
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        border-radius: 10px;
        .img{
         width: 100%;
         height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: none;
        img {
          width: 100%;
          height: 100%;
          
          border-radius: 8px;
          
        }
      }
        .product-details {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: 10px;
  
          h3 {
            font-size: 14px;
           
          }
  
          p {
            font-size: 12px;
           
          }
  
          .price {
            font-size: 16px;
            font-weight: bold;
            color: $red; // or any other color you prefer
          }
          .quantity-buttons{
            display: flex;
            justify-content: space-between;
            align-items: center;
             gap: 10px;
            button{
              background-color: #990011;
              padding: 0px 15px;
              color: white;
              font-size: 13px;
              border: none;
              outline: none;
              font-weight: 700;
              text-align: center;
            }
            button:hover{
             background-color: #ff001e;
            }
            .span{
             display: flex;
           
            justify-content: center;
            align-items: center;
         
      
            span{
              font-size: 25px;
              color: #990011;
            }
          }

          }
        }
      }
    }
  
    .cart-summary {
      text-align: center;
      padding: 20px;
      width: 95%;
      margin: auto;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      background-color: $white-color;
      border: 1px solid rgb(216, 206, 206);
      border-radius: 15px;
      .subtotal,
      .shipping,
      .total {
        margin-bottom: 10px;
  
        p {
          margin: 0;
          font-size: 1em;
          font-family: sans-serif;
          font-size: 17px;
          font-weight: 500;
        }
        h1 {
          margin: 0;
          font-size: 1em;
          font-family: sans-serif;
        }
      }
  
      .buy-now-btn {
        padding: 10px 20px;
        background-color: #27ae60; // or any other color you prefer
        color: #fff;
        font-size: 1em;
        width: 100%;
        border: none;
        cursor: pointer;
        border-radius: 35px;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #218c54; // or any other hover color
        }
      }
    }
  }
  