$white-color : #Fcf6f5;
$red : #990011;
$black: rgb(16, 15, 15);

  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

 

  



  .main-div.mode{
    background-color: $black;
    .typebox h2{
        
      color: #Fcf6f5;
    
  }
    .slogan{
      color: $white-color;
     
    }
   }
.main-div{
 
    display: flex;
    flex-direction: column;
    align-items: center;
     width: 100%;
     max-height: 100vh;
     background-color:$white-color;
     

    .slogan  {
      font-family: 'Pacifico';
      text-align: center;
      padding: 10px;
      width: 100%;
      margin-top: 35px;
      max-height: fit-content;
      border-bottom: $red 10px solid;
      opacity: 0; /* Set initial opacity to 0 */
      animation: fadeInUp 0.5s ease-in-out 0.8s forwards;

      .first{
        font-size: 39px;
        position: relative;
        overflow: hidden;
        
        small{
          font-size: 39px;
          color: #990011;
        }
      }
      .second{
       
        font-size: 29px;
        letter-spacing: 2px;
        position: relative;
        overflow: hidden;
        
      }
      small{
        font-size: 25px;
        color: #990011;
      }
    }
    


    .img-div img {
      width: 300px;
      margin-top: 100px;
      
      animation: moveImage 2s infinite;
      @keyframes fadeInUp {
        0% {
          opacity: 0;
          transform: translateY(0);
        }
      
        100% {
          opacity: 1;
          transform: translateY(100px);
        }
      }
      
      @keyframes moveImage {
        0%,
        100% {
          transform: translateY(0) translateX(0);
          /* Starting and ending position, no translation */
        }
        50% {
          transform: translateY(10px) translateX(0);
          /* Midway point, translate the image vertically by 10px */
        }
      }
     
  
  }
    
      .typebox{
        opacity: 0; /* Set initial opacity to 0 */
        transform: translateY(110px);
        animation: fadeInUp 0.4s ease-in-out 0.3s forwards;
        min-width: 20px;
        min-height: 30px;
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-top: 18px;
        
        h2{
          font-family: 'pacifico', sans-serif;
          font-size: 25px;
          font-weight: 500;
          border-bottom: 3px solid $red;
          span{
            color: #990011;
          }
        }
       
        
      }
      @media (min-width: 500px) {
         
        .img-div img{
          width: 450px;
          
        }

        .typebox{
          
        
          h2{
            font-family: 'pacifico';
            font-size: 30px;
          }

      }
      .slogan{
        
        height: 220px;
        
      }
     
    
}
}
