

$white-color : #Fcf6f5;
$red : #990011;
$black: rgb(16, 15, 15);

.section3.mode{
  background-color: $black;
  .productcardmain{
    h1{
      color: $white-color;
    }
    .showimg{
      background-color: $white-color;
    }
    h2{
      color: $white-color;
    }
    .card-div{
    
      
      .inside-card{
        background-color: $black;
       }
    }
   
  }
}


.section3 {
  width: 100%;
  
  padding: 0px 20px;
  background-color: $white-color;
  box-sizing: border-box;
  padding-bottom: 30px;
  .productcardmain {
    
    width: 100%;
    
    
    padding-top: 20px;
    .h1{
      display: flex;
      justify-content: center;
      align-items: center;

        h1 {
            text-align: center;
            font-size: 23px;
            font-family: sans-serif;
            display: inline-block; /* Set display to inline-block */
            border-bottom: 1px solid $red;
        }
    }
    //this the problem 
  
   
    .card-div{
        width: 100%;
        
        
         @media (min-width: 700px) {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(calc(50% - 1.5% * 2), 1fr));
            
           
        }
        @media (min-width: 1500px) {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(calc(25% - 1.5% * 2), 1fr));
            
        }

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(100% - 3% * 2), 1fr));
       
        
        .inside-card{
            background-color: $white-color;
            margin-bottom: 35px;
            
            .imagediv{
              
                width: 100%;
                min-height: 290px;
                
                
                display: flex;
                justify-content: center;
                 align-items: center;
                 margin-bottom: 20px;
               

                
                .showimg{
                  
                    border-radius: 20px;
                    margin-top: 10px;
                       width: 240px;
                       min-height: 250px;
                       box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                       padding: 20px;
                       
                    img{
                        object-fit: contain;
                        width: 100%;
                        min-height: 100%;
                        
                    }
                }
           
        }
        h2{
            margin-bottom: 10px;
            margin-left: 55px;
            font-size: 23px;
         font-family: sans-serif;
         text-align: start;
         
        
        }
          .btn{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
            padding: 0px 30px;
button{
  align-items: center;
  background-clip: padding-box;
  background-color:$red;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: 10px 25px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;
}
button:hover,
button:focus {
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: red;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
           
          }
        }
    }
  }
}
